.brands1{
    position: relative;
    background: #000;
    padding: 0 7.03125%;
    h1{
        margin: 0;
        color: #fff;
        padding-top: 3%;
        font-size: 28px;
    }
    a{
        width: 512px;
        height: 280px;
        display: block;
        text-indent: -999999px;
        background: url(../img/logo_blanco.svg) no-repeat center center / 353px auto;
        &:hover{
            background-size: 388px auto;
        }
        @media only screen and (max-width:800px){
            width: 100%;
        }
    }
}

.brands2{
    position: relative;
    padding: 0 7.03125%;
    @extend %box-sizing;
    h2{
        margin: 0;
        padding-top: 3%;
        font-size: 28px;
    }
    .other{
        a{
            width: 50%;
            height: 280px;
            display: block;
            float: left;
            text-indent: -999999px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size:360px auto;
            &:hover{
                background-size: 400px auto;
            }
            @media only screen and (max-width:800px){
                float: none;
                width: 100%;
            }
        }
    }
}

.brands3{
    position: relative;
    clear: both;
    padding: 0 7.03125%;
    @extend %box-sizing;
    h2{
    border-top: 1px solid #000;
        margin: 0;
        padding-top: 3%;
        font-size: 28px;
    }
    div{
        width: 33%;
        float: left;
        ul{
            @include ul_limpio();
            margin: 35px 0;
            li{
                a{
                    display: block;
                    line-height: 35px;
                    font-family: $questa_granderegular;
                    font-size: 30px;
                    &:hover{
                        font-family: $roboto;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .sello{
        min-height: 250px;
        text-align: center;
        img{
            max-width: 90%;
        }
    }
    @media only screen and (max-width:800px){
        div{
            width: 50%;
        }
        .sello{
            display: none;
        }
    }
}
// brand_monaco -----------------------------------
.brand_ppl{width: 100%;}
.productos{
    padding: 0 7.03125% 7.03125% 7.03125%;
    &.sin_pie{
        padding-bottom: 0;
    }

    position: relative;
    z-index: 2;
    .migas{
        @include ul_limpio();
        margin: 20px 0;
        height: 15px;
        li{
            line-height: 15px;
            float: left;
            padding: 0 5px;
            border-left: 1px solid $gris;
            color: $gris;
            a{
                color: $gris;
                &:hover{
                    font-weight: bold;
                }
            }
            &:first-child{
                padding-left: 0;
                border: none;
            }
            &:last-child a{
                color: $gris_claro;
            }
        }
    }
    .lines{
        @include ul_limpio();
        border: 1px solid $color;
        display: inline-block;
        height: 30px;
        margin: 25px 0;
        &:hover{
            a.activo{
                padding: 0 6px;font-weight: normal;
            }
        }
        li{
            padding: 6px 0;
            float: left;
            a, span{
                display: block;
                font-size: 15px;
                line-height: 18px;
                color: $gris;
                padding: 0 6px;
                border-left: 1px solid $color;
                text-transform: uppercase;
            }
            a{
                color: $color;
                &.activo{
                    font-weight: bold;
                    padding: 0 5px;
                }
                &:hover{
                    font-weight: bold!important;
                    padding: 0 5px!important;
                }
            }
            &:first-child a, &:first-child span{
                border: none;
            }
        }
    }
    .caregories{
        padding-bottom:7.03125%;
        background:url(../img/o_n.svg) no-repeat right bottom / 190px auto;
        background-position: right 33px bottom -100px;
        border-bottom: 1px solid #000;
        min-height: 150px;
        a{
            font-family: $questa_granderegular;
            font-size: 30px;
            line-height: 36px;
            display: block;
            &:hover{
                font-family: $roboto;
                font-weight: bold;
            }
        }
        h1{
            font-family: $questa_granderegular;
            font-size: 45px;
            font-weight: normal;
            margin: 0;
            &:after{
                content: "";
                display: block;
                width: 36px;
                height: 1px;
                background: #000;
                margin: 10px 0 20px 0;
            }
        }
        p{
            color: $color;
            font-size: 30px;
            line-height: 35px;
            font-weight: 300;
            margin-top: 0;
            width: 65%;
            @media only screen and (max-width:900px){
                width: 100%;
                margin-bottom: 200px;
            }
        }
    }
    .categories_2{
        article{
            width: 33%;
            float: left;
            padding-top: 3%;
            a{
                div{
                    height: 310px;
                    background-repeat: no-repeat;
                    background-size: auto 90%;
                    background-position: center;
                    @include transition(background-size 100ms);
                    margin-bottom: 3%;
                }
                h4{
                    margin: 0;
                    text-align: center;
                    line-height: 20px;
                    width: 95%;
                    @include transition(font-size 100ms);
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                &:hover{
                    div{
                        background-size: auto 100%;
                    }
                    h4{
                        font-size: 18px;
                    }
                }
            }
            @media only screen and (max-width:960px){
                width: 50%;
            }
        }
    }

    .subcategories{
        background: url(../img/linea2.gif);
        article{
            width: 33%;
            float: left;
            padding: 20px 0 40px 0;
            a{
                div{
                    height: 310px;
                    background-repeat: no-repeat;
                    background-size: auto 80%;
                    background-position: center;
                    @include transition(background-size 100ms);
                    margin-bottom: 3%;
                }
                h4{
                    margin: 0;
                    text-align: center;
                    line-height: 20px;
                    width: 95%;
                    @include transition(font-size 100ms);
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                h3{
                    font-weight: 300;
                    margin: 0;
                    text-align: center;
                    font-size: 16px;
                }
                &:hover{
                    div{
                        background-size: auto 90%;
                    }
                    h4{
                        font-size: 18px;
                    }
                }
            }
            @media only screen and (max-width:960px){
                width: 50%;
            }
        }
    }

    .caregories_pl{
        padding: 4.6875% 0;
        //background-size: 
        background-repeat: no-repeat;
        background-position: right 0 top 70px;
        background-size:360px auto;
        border-bottom: 1px solid #000;
        min-height: 280px;
        a{
            font-family: $questa_granderegular;
            font-size: 30px;
            line-height: 36px;
            display: block;
            &:hover, &.activo{
                font-family: $roboto;
                font-weight: bold;
            }
        }
        h1{
            font-size: 28px;
            margin: 0 0 35px 0;
        }
        p{
            color: $color;
            font-size: 30px;
            line-height: 35px;
            font-weight: 300;
            margin-top: 0;
            width: 65%;
            @media only screen and (max-width:900px){
                width: 100%;
                margin-bottom: 200px;
            }
        }
    }
    .sub_bloques{
        position: relative;
        h2{
            position: absolute;
            top: 0;
            font-size: 22px;
            font-weight: 300;
            z-index: 200;
            margin: 7px 0 0 0;
        }
        .subir{
            position: absolute;
            z-index: 200;
            height: 25px;
            width: 100%;
            bottom: 10px;
            background:url(../img/subir.svg) no-repeat;
            background-position: right -3px top 2px;
            background-size: auto 30px;
            text-indent: -999px;
            &:hover{
                background-position: right -22px top 0!important;
                background-size: auto 50px;
            }
        }
    }

}
.tit_cats{
    background: $anarillo;
    margin: 0;
    font-family: $questa_granderegular;
    font-weight: normal;
    font-size: 50px;
    padding: 2% 7.03125%;
    color: #fff;
}
.brand_ppl2{
    height: 342px;
    position: relative;
    z-index: 1;
    img{
        width: 100%;
    }
    @media only screen and (max-width:1024px){
        height: 33.3984375vw;
    }
}
.productos{
    .subcat{
        background: url(../img/linea_sub.gif);
        article{
            width: 25%;
            float: left;
            padding: 26px 0;

            a{
                div{
                    height: 237px;
                    background-repeat: no-repeat;
                    background-size: auto 90%;
                    background-position: center;
                    @include transition(background-size 100ms);
                    margin-bottom: 26px;
                }
                h4{
                    margin: 0;
                    text-align: center;
                    line-height: 20px;
                    @include transition(font-size 100ms);
                }
                &:hover{
                    div{
                        background-size: auto 100%;
                    }
                    h4{
                        font-size: 18px;
                    }
                }
            }
            @media only screen and (max-width:960px){
                width: 50%;
            }
        }
    }
}
.product_single{
    display:-webkit-box; display:-ms-flexbox; display:flex; -ms-flex-wrap:wrap; flex-wrap:wrap;
    padding: 5% 0;
    div{
        width: 50%;
        img{
            max-width: 100%;
        }
        h1{
            margin: 0;
            font-family: $questa_granderegular;
            font-weight: normal;
            font-size: 45px;
            &:after{
                content: "";
                display: block;
                width: 36px;
                height: 1px;
                background: #000;
                margin: 10px 0 20px 0;
            }

        }
        table{
            margin-left: 0;
            border-collapse: collapse;
            tr td{
                font-size: 22px;
                vertical-align: top;
                padding-left: 0;
                font-weight: 300;
                &:first-child{
                    word-wrap: none;
                }
            }
            &:after{
                content: "";
                display: block;
                width: 36px;
                height: 1px;
                background: #000;
                margin: 10px 0;
            }

        }
        h4{
            margin: 0;
            font-size: 22px;
        }
        p{
            margin:5px 0;
            font-size: 22px;
            font-weight: 300;
        }
        @media only screen and (max-width:900px){
            width: 100%;
            &:first-child{
                text-align: center;
                margin-bottom: 10%;
            }
        }
    }
}
.pie_prod{
    position: relative;
    background: $fondo_crema;
    .fondo{
        position: absolute;
        height: 50%;
        background: #fff;
        width: 100%;
    }
    ul{
        @include ul_limpio();
        position: relative;
        margin: 0 auto;
        width: 774px;
        max-width: 90%;
        background: #77F;
        li{
            float: left;
            margin: 1px;
            width: calc(33.333% - 2px);
            position: relative;
            &:after {
                content: "";
                display: block;
                padding-bottom: 100%;
                background: #000;
            }
            a{
                position: absolute;
                width: 100%;
                height: 100%;
                .imagen{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-position: center center;
                    background-size: 100% auto;
                    @include transition(opacity 200ms);
                }
                &:hover .imagen{
                    opacity:0.4;
                }
                .texto{
                    position: absolute;
                    left: 10%;
                    bottom: 7%;
                    h3, p{color: #fff; margin: 0;}
                    h3{
                        font-family: $questa_granderegular;
                        font-weight: normal;
                        font-size: 50px;
                        line-height: 50px;
                        @media only screen and (max-width:900px){
                            font-size: 40px;
                            line-height: 40px;
                        }
                    }
                    p{text-decoration: underline;}
                }
            }
        }
    }
}
