.divisions{
    article{
        height: 512px;
        .floatd, .floati{
            width: 50%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            height: 512px;
                background-color: aqua;
        }
        .textos{
            padding: 7% 10%;
            height: 79%;
            *{color: #fff;}
            position: relative;
            h2{
                margin: 0;
                font-family: $questa_granderegular;
                font-size: 61px;
                font-weight: normal;
            }
            p{
                font-size: 26px;
                line-height: 32px;
                font-weight: 300;
                color: #F0E8DD;
            }
            .enlaces{
                position: absolute;
                bottom: 0;
                border: 1px solid #FFF;
                color: #FFF;
                width: 162px;
                height: 30px;
                text-align: center;
                display: inline-block;
                line-height: 30px;
                font-size: 14px;
                a{
                    &:hover{
                        font-weight: bold;
                    }
                }
            }
            @media only screen and (max-width:900px){
                h2{
                    font-size: 48px;
                }
                p{
                    font-size: 23px;
                    line-height: 26px;
                }
            }
            @media only screen and (max-width:700px){
                h2{
                    font-size: 42px;
                }
            }
        
        }
        &.d1{
            .floati{
                background-image: url(../img/d1.jpg);
            }
            .floatd{
                background-color: $color_azul;
            }
        }
        &.d2{
            .floati{
                background-color: $color_naranja;
            }
            .floatd{
                background-image: url(../img/d2.jpg);
            }
        }
        &.d3{
            .floati{
                background-image: url(../img/d3.jpg);
            }
            .floatd{
                background-color: $color;
            }
        }
        &.d4{
            .floati{
                background-color: $color_vino;
            }
            .floatd{
                background-image: url(../img/d4.jpg);
            }
        }
    }
}