.divisions{
    article{
        height: 512px;
        .floatd, .floati{
            width: 50%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            height: 512px;
                background-color: aqua;
        }
        .textos{
            padding: 7% 10%;
            height: 79%;
            *{color: #fff;}
            position: relative;
            h2{
                margin: 0;
                font-family: $questa_granderegular;
                font-size: 3.8125rem;
                font-weight: normal;
            }
            p{
                font-size: 1.6rem;
                line-height: 2rem;
                font-weight: 300;
                color: #F0E8DD;
            }
            a{
                position: absolute;
                bottom: 0;
                border: 1px solid #FFF;
                color: #FFF;
                width: 162px;
                height: 30px;
                text-align: center;
                display: inline-block;
                line-height: 30px;
                font-size: 0.9rem;
                &:hover{
                    color: #000;
                    border: 1px solid #000;
                }
            }
            @media only screen and (max-width:900px){
                h2{
                    font-size: 3rem;
                }
                p{
                    font-size: 1.3rem;
                    line-height: 1.625rem;
                }
            }
            @media only screen and (max-width:700px){
                h2{
                    font-size: 2.6rem;
                }
            }
        
        }
        &.d1{
            .floati{
                background-image: url(../img/d1.jpg);
            }
            .floatd{
                background-color: $color_azul;
            }
        }
        &.d2{
            .floati{
                background-color: $color_naranja;
            }
            .floatd{
                background-image: url(../img/d2.jpg);
            }
        }
        &.d3{
            .floati{
                background-image: url(../img/d3.jpg);
            }
            .floatd{
                background-color: $color;
            }
        }
        &.d4{
            .floati{
                background-color: $color_vino;
            }
            .floatd{
                background-image: url(../img/d4.jpg);
            }
        }
    }
}