.fondonegro{
    position: absolute;
    top: 0;
    width: 100%;
    background: #000;
    height: 200px;
}
.home_cuote{
    background: #000;
    position: relative;
    p{
        color: $color;
        font-size: 62px;
        line-height: 74px;
        margin: 0;
        padding: 4% 11% 6% 11%;
        text-align: center;
        font-family: $questa_granderegular;
        &:before{
            content: '';
            display: inline-block;
            width: 40px;
            height: 45px;
            background: url(../img/comillas1.svg) no-repeat 0 0 / 26px auto;
        }
        &:after{
            content: '';
            display: inline-block;
            width: 53px;
            height: 45px;
            background: url(../img/comillas2.svg) no-repeat right 0 / 37px auto;
        }
    }
}
.banner_home1{
    background: url(../img/banner_home.jpg);
    height: 442px;
    position: relative;
    overflow: hidden;
    .tapa{
        position: absolute;
        top: 0;
        left: 0;
        background: url(../img/banner_home.png);
        width: 100%;
        height: 100%;
    }
    .o{
        position: absolute;
        right: 171px;
        width: 200px;
        height: 400px;
        top: 400px;
        background:url(../img/o.svg) no-repeat 0 0 / 200px auto;
    }
}
.welcome_home{
    background: $fondo_crema;
    position: relative;
    padding-bottom: 36px;
    .latas{
        position: absolute;
        left: 17px;
        top: -160px;
        width: 610px;
        height: 408px;
        background: url(../img/latas_home.png);
    }
    h1{
        margin: 0;
        text-align: right;
        font-size: 80px;
        color: $color_vino;
        font-family: $questa_granderegular;
        font-weight: normal;
        padding: 20px 62px 88px 0;
    }
    p{
        text-align: center;
        color: $color;
        font-size: 30px;
        font-weight: 300;
        line-height: 38px;
        margin: 16px 0;
        b{
            color: $color;
            font-weight: 900;
            font-size: 26px;
            letter-spacing: 3px;
        }
    }
    @media only screen and (max-width:1008px){
        h1{
            text-align: center;
            padding: 200px 0 20px 0;
        }
        p{
            font-size: 21px;
            line-height: 26px;
        }
    }
}
.banner_home_conteiner{
    z-index: 20;
    position: relative;
    .banner_home2{
        position: relative;
        width: 100%;
        height: 516px;
        overflow: hidden;
        background: url(../img/loading.gif) no-repeat center center;
        .contenedor{
            position: absolute;
            top: 0;
            left: 0;
            a{
                float: left;
                img{
                    height: auto;
                }
            }
        }
        .tapa{
            position: absolute;
            height: 100%;
            width: 50%;
            background:#DF3818 url(../uploads/banners_brands/tapa.jpg) no-repeat center center / auto 100%;
            left: -50%;
            @include transition(left 500ms);
            &.activo{
                left: 0;
            }
        }
    }
    ul{
        position: absolute;
        bottom: -35px;
        right: 40px;
        height: 35px;
        @extend %ullimpio;
        li{
            text-indent: -999px;
            float: left;
            margin:14px 4px 0 4px;
            border: $color solid 2px;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            cursor: pointer;
            &.activo{
                background: $color;
            }
        }
    }
}
.bloque4{
    position: relative;
    z-index: 1;
    background: #000;
    text-align: center;
    padding: 40px 0;
    h3{
        color: #FFF;
        font-weight: 900;
        font-size: 26px;
        margin: 0;
        letter-spacing: 5px;
    }
    h2{
        color: $color;
        font-family: $questa_granderegular;
        font-size: 62px;
        margin: 24px 0 0px 0;
        font-weight: 400;
    }
    p{
        color: $color;
        font-weight: 300;
        font-size: 30px;
        margin: 2px 0 8px 0;
    }
    @media only screen and (max-width:920px){
        h2{
            font-size: 53px;
        }
    }
    @media only screen and (max-width:820px){
        padding-top: 60px;
        h2{
            font-size: 43px;
        }
        p{
            font-size: 27px;
        }
    }
    @media only screen and (max-width:700px){
        h2{
            font-size: 38px;
        }
        p{
            font-size: 24px;
        }
    }
}

.receta_home{
    .bloque{
        float: left;
        height: 512px;
        width: 50%;
    }
    .textos{
        background: #DF3818;
        text-align: center;
        position: relative;
        h2{
            margin: 0;
            padding-top: 40px;
            font-size: 16px;
            font-weight: 900;
            letter-spacing: 3px;
        }
        h3{
            color: #FFF;
            font-family: $questa_granderegular;
            font-size: 40px;
            margin: 0 1rem;
            padding:0 20px 10px 20px;
            font-weight: normal;
            height: 98px;
            /*
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
            */
        }
        .contenido{
            padding-bottom: 10px;
            overflow: hidden;
            height: 0px;
            .pasos{
                width: 34px;
                border-top: 1px solid #000;
                margin: 10px auto 0 auto;
                padding-top: 3px;
                font-size: 18px;
                line-height: 26px;
                font-weight: bold;
            }
            p{
                margin: 0 auto;
                padding: 0;
                font-size: 18px;
                line-height: 21px;
                font-weight: 300;
                width: 320px;
                max-width: 88%;
            }
        }
        .botones{
            position: absolute;
            width: 100%;
            bottom: 38px;
            a{
                border: 1px solid #FFF;
                color: #FFF;
                width: 110px;
                height: 30px;
                text-align: center;
                display: inline-block;
                line-height: 30px;
                margin: 0 5px;
                font-size: 14px;
                &:hover{
                    font-weight: bold;
                }
            }
        }
        &.mas{
            background-image: url(../img/puntos.gif);
            background-repeat: no-repeat;
            background-position: center bottom 90px;
        }
    }
    .imagen{
        background-size: cover;
        background-position: center center;
        background-color: #333;
    }
    @media only screen and (max-width:800px){
        .bloque{
            height: 640px;
            width: 100%;
        }
        .textos{
            h2{
                font-size: 20px;
            }
            h3{
                //font-size: 48px;
                //line-height: 52px;
            }
            .contenido{
                p{
                    font-size: 23px;
                    line-height: 27px;
                    width: 78%;
                }
                .pasos{
                    font-size: 23px;
                    line-height: 23px;
                    margin-top: 13px;
                    padding-top: 5px;
    
                }
            }
        }
        .imagen{
            height: 396px;
        }
    }
}
.bloque5{
    clear: both;
    text-align: center;
    padding: 32px 0;
    h2{
        margin: 0;
        color: $color_azul;
        font-size: 62px;
        font-weight: normal;
        font-family: $questa_granderegular;

    }
    p{
        color: $color;
        font-size: 30px;
        line-height: 37px;
        font-weight: 300;
        margin-left: auto;
        margin-right: auto;
        width: 768px;
        max-width: 95%;
    }
    @media only screen and (max-width:640px){
        h2{
            font-size: 48px;
        }
        p{
            font-size: 21px;
            line-height: 24px;
            width: 90%;
        }
    }
}

.pallax{
    height: 480px;
    background: url(../img/pallax_home.jpg) no-repeat center 0 / auto 200%;
}