header{
	background: #000;
	height: 83px;
	position: fixed;
    width:1024px;
    max-width: 100%;
	top: 0;
	z-index: 1000;
	.tabla{
		height: 83px;
		display: table;
		width: 100%;
		ul{
			display: table-row;
			height: 100%;
			li{
				display: table-cell;
				vertical-align: middle;
				width: 41.6015625%;
				&.logo{
					width: 16.796875%;
					img{
						width: 172px;
						height: auto;
					}
				}
				.menu{
					display: block;
					color: #FFF;
					text-indent: -999rem;
					background:url(../img/hamburguesa.svg) no-repeat 40px 30px / 32px auto;
					height: 100%;
					&:hover{
						background:url(../img/hamburguesa_b.svg) no-repeat 40px 30px / 32px auto;
					}
				}
				.lupa{
					display: block;
					color: #FFF;
					text-indent: -999rem;
					background:url(../img/lupa.svg) no-repeat right 30px / 32px auto;
					border-right: 40px solid transparent;
					height: 100%;
					&:hover{
						background-image:url(../img/lupa_b.svg);
					}
				}
			}
		}
	}
	nav{
		position: absolute;
		top: 0;
		left: 0;
		background: #F8B627;
		width: 50%;
		display: none;
		padding-bottom: 20px;
		a.cerrar_hamburguesa{
			text-indent: -999rem;
			background: url(../img/hamburguesa_b.svg) no-repeat 40px 30px / 32px auto;
			position: absolute;
			top: 0;
			left: 0;
			width: 80px;
			height: 100%;
		}
		ul{
			@extend %ullimpio;
			padding: 16px 0;
			li{
				padding-left: 80px;
				a{
					font-family: $questa_granderegular;
					color: #000;
					font-size: 3.85rem;
					line-height: 4.6rem;
					display: block;
					&.activo{
						color: #FFF;
					}
					&:hover{
						color: #FFF!important;
					}
				}
			}
			&:hover li a.activo{
				color: #000;
			}
			@media only screen and (max-width:1008px){
				padding-top: 18px;
				li a{
					font-size: 2.2rem;
					line-height: 3rem;
				}
			}
			@media only screen and (max-width:640px){
				padding-top: 20px;
				li a{
					font-size: 2rem;
					line-height: 2.8rem;
				}
			}
		}
	}
}

footer{
	@extend %padding_interno;
	background: $fondo_crema;
	.footer1{
		*{color: $color;}
		background: url(../img/footer.jpg) no-repeat 0 0 / 275px auto;
		border-bottom: 1px solid #666;
		height: 240px;
		margin-bottom: 15px;
		.floatd{
			width: 372px;
			padding-top: 20px;
			a.footer_reachus{
				font-size: 4.8rem;
				font-family: $questa_granderegular;
				line-height: 5.2rem;
				&:hover{
					color: $gris;
				}
			}
			p{
				font-size: 1rem;
				font-weight: 300;
				&.correo{
					padding-top: 24px;
					a img{width: 55%; height: auto;}
				}
			}
		}
	}
	.footer_ru{
		border-bottom: 1px solid #666;
		margin-bottom: 15px;
		clear: both;
	}
	.footer2{
		background: url(../img/logo_negro.svg) no-repeat 0 0 / 163px auto;
		.floatd{
			div{
				float: left;
				width: 124px;
				ul{
					@extend %ullimpio;
					li{
						font-size: 0.7rem;
						a{
							color: $gris;
							font-size: 0.7rem;
							line-height: 1rem;
							font-weight: 300;
						}
						a.dorado{
							color: $color;
							font-family: $questa_granderegular;
							font-size: 0.9rem;
							font-weight: normal;
							&:hover{
								font-family: $roboto;
							}
						}
						a:hover{
							font-weight: bold;
						}
					}
				}
			}
		}
	}
	@media only screen and (max-width:1008px){
		.footer2{
			.floatd{
				padding-top: 70px;
			}
		}
	}
	@media only screen and (max-width:860px){
		.footer1{
			background: none;
			.floatd{
				float: none;
			}
		}
	}
	@media only screen and (max-width:830px){
		.footer2{
			.floatd{
				width: 100%;
				padding-top: 50px;
				div{
					padding-top: 20px;
					width: 33%;
					ul li a{
						font-size: 0.9rem;
						&.dorado{
							font-size: 1rem;
						}
					}
				}
			}
		}
	}
	@media only screen and (max-width:640px){
		.footer2{
			.floatd{
				div{
					width: 45%;
					ul{
						li{
							font-size: 0.7rem;
							a{
								font-size: 1.125rem;
								line-height: 1.4375rem;
							}
							a.dorado{
								font-size: 1.25rem;
							}
						}
					}
	
				}
			}
		}
	}
}
.pie{
	background: $color;
	padding: 0 7.03125%;
	&, & *{
		line-height: 25px;
		color: #FFF;
		font-size: 0.5rem;
		font-weight: 300;
		@media only screen and (max-width:640px){
			font-size: 0.35rem;
		}
	}
}