.our_story{
	background: $fondo_crema;
    @extend %padding_interno;
    h1, h2{
        margin: 0;
        color: $color_azul;
        font-size: 3.8125rem;
        font-family: $questa_granderegular;
        font-weight: normal;
    }
    h3{
        margin: 0;
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 1.6rem;
    }
    .floatd{
        width: 70%;
    }
    .floati{
        width: 26.31%;
        img{
            width: 100%;
            height: auto;
            padding-top: 13px;
        }
    }
    article{
        clear: both;
        border-top: 1px solid #000;
        padding-top: 15px;
        p{
            font-size: 1.5rem;
            margin: 0 0 20px 0;
            width: 100%;
            font-weight: 300;
            color: $gris;
            line-height: 2rem;
        }
    }
    .commitments{
        padding-top: 20px;
        clear: both;
        ul{padding-top: 10px; padding-left: 0px;}
        li{
            color: $gris;
            font-size: 1.1rem;
            span{
                font-size: 1.6rem;
                font-weight: 500;
                color: $gris;
            }
        }
    }
}