.reachus{
    @extend %padding_interno;
    padding-bottom: 0;
    margin-bottom: 0;
    background: $fondo_crema;
    h1{
        margin: 0;
        color: $color;
        font-family: $questa_granderegular;
        font-weight: normal;
        font-size: 64px;
        line-height: 76px;
        padding-bottom: 30px;
    }
    .contenedor{
        @extend %display-flex;
        div.col:first-child{
            @extend %box-sizing;
            width: 60%;
            padding-right: 7px;
            div.row{
                background: #FFF;
                margin-bottom: 6px;
                &:last-child{margin: 0;}
                font-weight: 300;
                line-height: 20px;
                padding: 4px 6px;
                color: $gris;
                input, textarea{
                    display: block;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    border: none;
                    outline: none;
                    line-height: 20px;
                    background: none;
                }
                textarea{height: 100px; resize: none;}
            }
        }
        div.col:last-child{
            width: 40%;
            a.mapa{
                display: block;
                width: 100%;
                height: 100%;
                background: url(../img/mapa.jpg) no-repeat center center / auto 100%;
            }
            p.direccion{
                font-weight: 300;
                margin: 0;
                font-size: 16px;
                line-height: 18px;
                color: $color;
                padding: 28px 0 38px 0;
            }
            .correo{
                width: 210px;
                max-width: 100%;
                padding: 5px 0;
                img{
                    width: 100%;
                }
            }
            ul{
display:none;
                @extend %ullimpio;
                float: right;
                li{
                    float: left;
                    margin-left: 4px;
                    a{
                        width: 28px;
                        height: 28px;
                        display: block;
                        background-size: 100% 100%;
                        &.facebook{
                            background-image: url(../img/facebook_off.svg);
                            &:hover{
                                background-image: url(../img/facebook.svg);
                            }
                        }
                        &.instagram{
                            background-image: url(../img/instagram_off.svg);
                            &:hover{
                                background-image: url(../img/instagram.svg);
                            }
                        }
                        &.linkedin{
                            background-image: url(../img/linkedin_off.svg);
                            &:hover{
                                background-image: url(../img/linkedin.svg);
                            }
                        }
                    }
                }
            }
        }
    }
    button{
        margin: 7px 0 0 0;
        width: 100px;
        padding: 0;
        text-align: center;
        background: #000;
        color: #fff;
        font-size: 14px;
        line-height: 30px;
        border: none;
        cursor: pointer;
        &:hover{
            background: $color;
        }
    }
    @media only screen and (max-width:800px){
        h1{
            font-weight: normal;
            font-size: 48px;
            line-height: 58px;
        }
    }
}
