a.x{
    position: absolute;
    text-indent: -999px;
    right: 16px;
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/x.svg) no-repeat center center / 100% 100%;
    display: none;
    &:hover{
        background-size: 200% 200%;
    }
}

.r_cat{
    .bloque{
        float: left;
        width: 50%;
        height: 516px;
        a{
            display: table;
            height: 100%;
            width: 100%;
            text-align: center;
            h2{
                margin: 0;
                color: #FFF;
                font-family: $questa_granderegular;
                font-weight: normal;
                font-size: 69px;
                line-height: 77px;
                vertical-align: middle;
                display: table-cell;
                padding: 10%;
            }
            &:hover{
                background:none!important;
                h2{
                    display: none;
                }
            }
        }
        &.tabla{
            display: table;
            background: $fondo_crema;
            div{
                vertical-align: middle;
                display: table-cell;
                text-align: center;
                p{
                    font-family: $questa_granderegular;
                    margin: 0;
                    color: $color;
                    font-size: 28px;
                    line-height: 31px;
                    padding-bottom: 10px;
                    &:after{
                        content: "";
                        display: block;
                        margin: 10px auto 0 auto;
                        width: 34px;
                        height: 1px;
                        background: $color;
                    }
                    &:nth-child(3):after{
                        background: $fondo_crema;
                    }
                }
                span{
                    color: $gris;
                    font-size: 18px;
                    font-weight: 300;
                }
            }
        }
    }
    @media only screen and (max-width:800px){
        .bloque{
            height: 400px;
            a h2{
                font-size: 48px;
                line-height: 53px;
            }
            &.tabla{
                div{
                    p{
                        font-size: 22px;
                        line-height: 25px;
                    }
                    span{
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }
    
        }
    }
}


.recipes_header{
    @extend %padding_interno;
    background: #000 url(../img/o.svg) no-repeat;
    background-size: 188px auto;
    background-position: right 72px bottom -100px;
    div.contenedor{
        position: relative;
        .x{
            top: 0;
        }
    }

    .categories{
        @include ul_limpio();
        border: 1px solid #fff;
        display: inline-block;
        height: 30px;
        margin: 0 0 25px 0;
        &:hover{
            a.activo{
                padding: 0 6px;font-weight: normal; 
                //color: $gris;
            }
        }
        li{
            padding: 6px 0;
            float: left;
            a{
                display: block;
                font-size: 15px;
                line-height: 18px;
                //color: $gris;
                color: #FFF;
                padding: 0 6px;
                border-left: 1px solid #fff;
                text-transform: uppercase;
                &.activo{
                    font-weight: bold;
                    padding: 0 5px;
                    color: #fff;
                }
                &:hover{
                    font-weight: bold!important;
                    padding: 0 5px!important;
                    color: #fff!important;
                }
            }
            &:first-child a, &:first-child span{
                border: none;
            }
        }
    }
    div.lista_r{
        overflow: hidden;
        height: 180px;
        margin-bottom: 15px;
        a{
            color: $color;
            font-family: $questa_granderegular;
            font-size: 30px;
            line-height: 36px;
            &:hover{
                font-size: 29px;
                font-family: $roboto;
                font-weight: bold;
            }
        }
    }
    @media only screen and (max-width:800px){
        background-size: 90px auto;
        background-position: right 40px bottom -50px;
        .categories{
            li a{
                font-size: 13px;
            }
        }
    }
}
.recipes_body{
    article{
        position: relative;
        .foto{
            width: 50%;
            height: 516px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            &.invisible{
                display: none;
            }
        }
        h2{
            margin: 0;
            font-size: 21px;
            line-height: 23px;
        }
        .palito{
            background: #000;
            width: 36px;
            height: 1px;
            margin: 10px 0 15px 0;
        }
        .ingredientes{
            font-size: 18px;
            line-height: 22px;
        }
        .textos{
            overflow: hidden;
        }
        .contenido{
            width: 50%;
            height: 516px;
            @extend %box-sizing;
            @extend %padding_interno;
            position: relative;
            h1{
                margin: 0 0 30px 0;
                color: #FFF;
                font-family: $questa_granderegular;
                font-weight: normal;
                font-size: 44px;
                line-height: 46px;
            }
            .textos{
                height: 154px;
            }
            .see_more_contenedor{margin-top: 20px;}
            .see_more{color: #000;}
            .info{
                height: 30px;
                padding: 0 10px;
                min-width: 200px;
                border: 1px solid #fff;
                position: absolute;
                bottom: 48px;
                color: #FFF;
                font-size: 14px;
                line-height: 30px;
                b{
                    color: #FFF;
                }
            }
            &.izquierda{
                float: left!important;
            }
        }
        .mas_info{
            position: relative;
            height: 516px;
            @extend %box-sizing;
            @extend %padding_interno;
            overflow: hidden;
            width: 50%;
            display: none;
            float: right;
            &.visible{
                display: block;
            }
            .mas_info2{position: relative; padding-top: 6px;}
            .textos{
                .ingredientes{
                    margin-top: -154px;
                }
            }
            .x{
                display: block;
                right: 60px;
                bottom: 48px;
            }
        }
        &:nth-child(odd){
            .foto{
                float: right;
            }
            .contenido{
                float: left;
            }
        }
        &:nth-child(even){
            .foto{
                float: left;
            }
            .contenido{
                float: right;
            }
        }
        .indicaciones{
            clear: both;
            @extend %padding_interno;
            ul{
                @extend %ullimpio;
                li{
                    padding-left: 16px;
                    color: $color;
                    font-size: 26px;
                    line-height: 33px;
                    font-weight: 300;
                    &.cb{
                        background: url(../img/bulet.gif) no-repeat 0 13px / 5px 5px;
                    }
                    b{
                        color: $color;
                    }
                }
            }
            .subir{
                height: 25px;
                display: block;
                background: url(../img/subir.svg) no-repeat;
                background-position: right 18px top 2px;
                background-size: auto 100%;
                text-indent: -999999px;
                margin-top: -10px;
                &:hover{
                    background-position: right 0;
                    background-size: auto 180%;
                }
            }
        }
        @media only screen and (max-width:900px){
            .mas_info{
                display: none!important;
            }
            .foto{
                float: none;
                width: 100%;
                height: 400px;
                display: block!important;
            }
            .contenido{
                float: none;
                width: 100%;
                height: auto;
                .textos{
                    height: auto;
                    margin-bottom: 50px;
                }
                .see_more{
                    display: none!important;
                }
            }
        }
    }
}


.see_more_contenedor{height: 20px;}
a.see_more{
    color: $color;
    font-weight: bold;
    font-size: 11px;
    &:hover{
        color: #FFF!important;
    }
    &.invisible{
        display: none;
    }
}


