@import "_mixin";
// variables

@font-face {
    font-family: 'questa_granderegular';
    src: url('../font/2-Questa_Grande_Regular-webfont.eot');
    src: url('../font/2-Questa_Grande_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/2-Questa_Grande_Regular-webfont.woff2') format('woff2'),
         url('../font/2-Questa_Grande_Regular-webfont.woff') format('woff'),
         url('../font/2-Questa_Grande_Regular-webfont.ttf') format('truetype'),
         url('../font/2-Questa_Grande_Regular-webfont.svg#questa_granderegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$roboto: 'Roboto', sans-serif;
$questa_granderegular: 'questa_granderegular', serif;
//$questa_granderegular: 'Playfair Display', serif;
$color: #A08742;
$color_vino: #6F003F;
$color_azul: #006778;
$color_naranja: #E13818;
$fondo_crema: #EEE6DB;
$gris: #808080;
$gris_claro: #BBB;

$anarillo: #F8B627;

//reset

body *{
    font-family: $roboto;
    color: #000;
	max-height: 999999px;
}

body, html {
    margin:0;
    padding:0;
    background: #333;
    font-size: 16px;
}
a img{border:none}
a{text-decoration:none; outline:0; border:none;}
form{margin:0; padding:0}

%padding_interno{
    padding: 4.6875% 7.03125%;
} //@extend %padding_interno;

.cuerpo{
    margin:0 auto;
    padding-top: 83px;
    width:1024px;
    max-width: 100%;
    background: #FFF;
    position: relative;
}

.floati{float:left;}
.floatd{float:right;}
.separador{clear:both;height:0px; overflow:hidden}
.separadorv{clear:both;height:10px; font-size:1px;}
@mixin ul_limpio(){list-style:none; margin:0; padding:0;}

.noenpc{display: none;}
@media only screen and (max-width:640px){
	.noenpc{display: block;}
	.noenmobile{display: none;}
}

.table{
    display: table;
    margin: 0 auto;
    .tr{
        display: table-row;
        .td{
            display: table-cell;
            vertical-align: middle;
        }
    }
}
a{
    @include transition(color 500ms, background-color 500ms);
}
a.aumentar{
    @include transition(background-size 100ms);
}
.ancla{
    position: absolute;
    top: -83px;
}



@import "layout";
@import "home";
@import "our_story";
@import "divisions";
@import "reachus";
@import "tips";
@import "recipes";
@import "brands";
@import "planas";


.has-error{
    color: $color_vino!important;
    font-weight: bold!important;
}
