/* line 32, ../sass/_mixin.scss */
header nav ul, footer .footer2 .floatd div ul, .banner_home_conteiner ul, .reachus .contenedor div.col:last-child ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 35, ../sass/_mixin.scss */
.reachus .contenedor div.col:first-child, .tips .contenedor div.floati, .tips .contenedor div.floatd, .recipes_body article .contenido {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 41, ../sass/_mixin.scss */
.reachus .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

@font-face {
  font-family: 'questa_granderegular';
  src: url("../font/2-Questa_Grande_Regular-webfont.eot");
  src: url("../font/2-Questa_Grande_Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/2-Questa_Grande_Regular-webfont.woff2") format("woff2"), url("../font/2-Questa_Grande_Regular-webfont.woff") format("woff"), url("../font/2-Questa_Grande_Regular-webfont.ttf") format("truetype"), url("../font/2-Questa_Grande_Regular-webfont.svg#questa_granderegular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 28, ../sass/main.scss */
* {
  font-family: "Roboto", sans-serif;
  color: #000; }

/* line 30, ../sass/main.scss */
h1, h2, h3 {
  font-weight: 600; }

/* line 31, ../sass/main.scss */
html {
  margin: 0;
  padding: 0; }

/* line 35, ../sass/main.scss */
body {
  margin: 0;
  padding: 0;
  background: #333; }

/* line 40, ../sass/main.scss */
a img {
  border: none; }

/* line 41, ../sass/main.scss */
a {
  text-decoration: none;
  outline: 0;
  border: none; }

/* line 42, ../sass/main.scss */
form {
  margin: 0;
  padding: 0; }

/* line 44, ../sass/main.scss */
footer, .our_story, .reachus, .recipes_header, .recipes_body article .contenido {
  padding: 4.6875% 7.03125%; }

/* line 48, ../sass/main.scss */
.cuerpo {
  margin: 0 auto;
  padding-top: 83px;
  width: 1024px;
  max-width: 100%;
  background: #FFF;
  position: relative; }

/* line 57, ../sass/main.scss */
.floati {
  float: left; }

/* line 58, ../sass/main.scss */
.floatd {
  float: right; }

/* line 59, ../sass/main.scss */
.separador {
  clear: both;
  height: 0px !important;
  overflow: hidden; }

/* line 60, ../sass/main.scss */
.separadorv {
  clear: both;
  height: 10px;
  font-size: 1px; }

/* line 63, ../sass/main.scss */
.noenpc {
  display: none; }

@media only screen and (max-width: 640px) {
  /* line 65, ../sass/main.scss */
  .noenpc {
    display: block; }

  /* line 66, ../sass/main.scss */
  .noenmobile {
    display: none; } }
/* line 69, ../sass/main.scss */
.table {
  display: table;
  margin: 0 auto; }
  /* line 72, ../sass/main.scss */
  .table .tr {
    display: table-row; }
    /* line 74, ../sass/main.scss */
    .table .tr .td {
      display: table-cell;
      vertical-align: middle; }

/* line 1, ../sass/_layout.scss */
header {
  background: #000;
  height: 83px;
  position: fixed;
  width: 1024px;
  max-width: 100%;
  top: 0;
  z-index: 1000; }
  /* line 9, ../sass/_layout.scss */
  header .tabla {
    height: 83px;
    display: table;
    width: 100%; }
    /* line 13, ../sass/_layout.scss */
    header .tabla ul {
      display: table-row;
      height: 100%; }
      /* line 16, ../sass/_layout.scss */
      header .tabla ul li {
        display: table-cell;
        vertical-align: middle;
        width: 41.6015625%; }
        /* line 20, ../sass/_layout.scss */
        header .tabla ul li.logo {
          width: 16.796875%; }
          /* line 22, ../sass/_layout.scss */
          header .tabla ul li.logo img {
            width: 172px;
            height: auto; }
        /* line 27, ../sass/_layout.scss */
        header .tabla ul li .menu {
          display: block;
          color: #FFF;
          text-indent: -999rem;
          background: url(../img/hamburguesa.svg) no-repeat 40px 30px/32px auto;
          height: 100%; }
          /* line 33, ../sass/_layout.scss */
          header .tabla ul li .menu:hover {
            background: url(../img/hamburguesa_b.svg) no-repeat 40px 30px/32px auto; }
        /* line 37, ../sass/_layout.scss */
        header .tabla ul li .lupa {
          display: block;
          color: #FFF;
          text-indent: -999rem;
          background: url(../img/lupa.svg) no-repeat right 30px/32px auto;
          border-right: 40px solid transparent;
          height: 100%; }
          /* line 44, ../sass/_layout.scss */
          header .tabla ul li .lupa:hover {
            background-image: url(../img/lupa_b.svg); }
  /* line 51, ../sass/_layout.scss */
  header nav {
    position: absolute;
    top: 0;
    left: 0;
    background: #F8B627;
    width: 50%;
    display: none;
    padding-bottom: 20px; }
    /* line 59, ../sass/_layout.scss */
    header nav a.cerrar_hamburguesa {
      text-indent: -999rem;
      background: url(../img/hamburguesa_b.svg) no-repeat 40px 30px/32px auto;
      position: absolute;
      top: 0;
      left: 0;
      width: 80px;
      height: 100%; }
    /* line 68, ../sass/_layout.scss */
    header nav ul {
      padding: 16px 0; }
      /* line 71, ../sass/_layout.scss */
      header nav ul li {
        padding-left: 80px; }
        /* line 73, ../sass/_layout.scss */
        header nav ul li a {
          font-family: "questa_granderegular";
          color: #000;
          font-size: 3.85rem;
          line-height: 4.6rem;
          display: block; }
          /* line 79, ../sass/_layout.scss */
          header nav ul li a.activo {
            color: #FFF; }
          /* line 82, ../sass/_layout.scss */
          header nav ul li a:hover {
            color: #FFF !important; }
      /* line 87, ../sass/_layout.scss */
      header nav ul:hover li a.activo {
        color: #000; }
      @media only screen and (max-width: 1008px) {
        /* line 68, ../sass/_layout.scss */
        header nav ul {
          padding-top: 18px; }
          /* line 92, ../sass/_layout.scss */
          header nav ul li a {
            font-size: 2.2rem;
            line-height: 3rem; } }
      @media only screen and (max-width: 640px) {
        /* line 68, ../sass/_layout.scss */
        header nav ul {
          padding-top: 20px; }
          /* line 99, ../sass/_layout.scss */
          header nav ul li a {
            font-size: 2rem;
            line-height: 2.8rem; } }

/* line 108, ../sass/_layout.scss */
footer {
  background: #EEE6DB; }
  /* line 111, ../sass/_layout.scss */
  footer .footer1 {
    background: url(../img/footer.jpg) no-repeat 0 0/275px auto;
    border-bottom: 1px solid #000;
    height: 240px;
    margin-bottom: 15px; }
    /* line 112, ../sass/_layout.scss */
    footer .footer1 * {
      color: #A08742; }
    /* line 117, ../sass/_layout.scss */
    footer .footer1 .floatd {
      width: 372px;
      padding-top: 20px; }
      /* line 120, ../sass/_layout.scss */
      footer .footer1 .floatd a.footer_reachus {
        font-size: 4.8rem;
        font-family: "questa_granderegular";
        line-height: 5.2rem; }
        /* line 124, ../sass/_layout.scss */
        footer .footer1 .floatd a.footer_reachus:hover {
          color: #808080; }
      /* line 128, ../sass/_layout.scss */
      footer .footer1 .floatd p {
        font-size: 1rem;
        font-weight: 300; }
        /* line 131, ../sass/_layout.scss */
        footer .footer1 .floatd p.correo {
          padding-top: 24px; }
          /* line 133, ../sass/_layout.scss */
          footer .footer1 .floatd p.correo a img {
            width: 55%;
            height: auto; }
  /* line 138, ../sass/_layout.scss */
  footer .footer_ru {
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
    clear: both; }
  /* line 143, ../sass/_layout.scss */
  footer .footer2 {
    background: url(../img/logo_negro.svg) no-repeat 0 0/163px auto; }
    /* line 146, ../sass/_layout.scss */
    footer .footer2 .floatd div {
      float: left;
      width: 124px; }
      /* line 151, ../sass/_layout.scss */
      footer .footer2 .floatd div ul li {
        font-size: 0.7rem; }
        /* line 153, ../sass/_layout.scss */
        footer .footer2 .floatd div ul li a {
          color: #808080;
          font-size: 0.7rem;
          line-height: 1rem;
          font-weight: 300; }
        /* line 159, ../sass/_layout.scss */
        footer .footer2 .floatd div ul li a.dorado {
          color: #A08742;
          font-family: "questa_granderegular";
          font-size: 0.9rem;
          font-weight: normal; }
          /* line 164, ../sass/_layout.scss */
          footer .footer2 .floatd div ul li a.dorado:hover {
            font-family: "Roboto", sans-serif; }
        /* line 168, ../sass/_layout.scss */
        footer .footer2 .floatd div ul li a:hover {
          font-weight: bold; }
  @media only screen and (max-width: 1008px) {
    /* line 178, ../sass/_layout.scss */
    footer .footer2 .floatd {
      padding-top: 70px; } }
  @media only screen and (max-width: 860px) {
    /* line 184, ../sass/_layout.scss */
    footer .footer1 {
      background: none; }
      /* line 186, ../sass/_layout.scss */
      footer .footer1 .floatd {
        float: none; } }
  @media only screen and (max-width: 830px) {
    /* line 193, ../sass/_layout.scss */
    footer .footer2 .floatd {
      width: 100%;
      padding-top: 50px; }
      /* line 196, ../sass/_layout.scss */
      footer .footer2 .floatd div {
        padding-top: 20px;
        width: 33%; }
        /* line 199, ../sass/_layout.scss */
        footer .footer2 .floatd div ul li a {
          font-size: 0.9rem; }
          /* line 201, ../sass/_layout.scss */
          footer .footer2 .floatd div ul li a.dorado {
            font-size: 1rem; } }
  @media only screen and (max-width: 640px) {
    /* line 212, ../sass/_layout.scss */
    footer .footer2 .floatd div {
      width: 45%; } }

/* line 220, ../sass/_layout.scss */
.pie {
  background: #A08742;
  padding: 0 94px; }
  /* line 223, ../sass/_layout.scss */
  .pie, .pie * {
    line-height: 25px;
    color: #FFF;
    font-size: 0.5rem;
    font-weight: 300; }

/* line 1, ../sass/_home.scss */
.fondonegro {
  position: absolute;
  top: 0;
  width: 100%;
  background: #000;
  height: 200px; }

/* line 8, ../sass/_home.scss */
.home_cuote {
  background: #000;
  position: relative; }
  /* line 11, ../sass/_home.scss */
  .home_cuote p {
    color: #A08742;
    font-size: 3.85rem;
    line-height: 4.6rem;
    margin: 0;
    padding: 4% 11% 6% 11%;
    text-align: center;
    font-family: "questa_granderegular"; }
    /* line 19, ../sass/_home.scss */
    .home_cuote p:before {
      content: '';
      display: inline-block;
      width: 40px;
      height: 2.8rem;
      background: url(../img/comillas1.svg) no-repeat 0 0/26px auto; }
    /* line 26, ../sass/_home.scss */
    .home_cuote p:after {
      content: '';
      display: inline-block;
      width: 53px;
      height: 2.8rem;
      background: url(../img/comillas2.svg) no-repeat right 0/37px auto; }

/* line 35, ../sass/_home.scss */
.banner_home1 {
  background: url(../img/banner_home.jpg);
  height: 442px;
  position: relative;
  overflow: hidden; }
  /* line 40, ../sass/_home.scss */
  .banner_home1 .tapa {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/banner_home.png);
    width: 100%;
    height: 100%; }
  /* line 48, ../sass/_home.scss */
  .banner_home1 .o {
    position: absolute;
    right: 171px;
    width: 200px;
    height: 400px;
    top: 400px;
    background: url(../img/o.svg) no-repeat 0 0/200px auto; }

/* line 57, ../sass/_home.scss */
.welcome_home {
  background: #EEE6DB;
  position: relative;
  padding-bottom: 36px; }
  /* line 61, ../sass/_home.scss */
  .welcome_home .latas {
    position: absolute;
    left: 17px;
    top: -160px;
    width: 610px;
    height: 408px;
    background: url(../img/latas_home.png); }
  /* line 69, ../sass/_home.scss */
  .welcome_home h1 {
    margin: 0;
    text-align: right;
    font-size: 5rem;
    color: #6F003F;
    font-family: "questa_granderegular";
    font-weight: normal;
    padding: 20px 62px 88px 0; }
  /* line 78, ../sass/_home.scss */
  .welcome_home p {
    text-align: center;
    color: #A08742;
    font-size: 1.85rem;
    font-weight: 300;
    line-height: 2.35rem;
    margin: 16px 0; }
    /* line 85, ../sass/_home.scss */
    .welcome_home p b {
      color: #A08742;
      font-weight: 900;
      font-size: 1.6rem;
      letter-spacing: 3px; }
  @media only screen and (max-width: 1008px) {
    /* line 93, ../sass/_home.scss */
    .welcome_home h1 {
      text-align: center;
      padding: 200px 0 20px 0; }
    /* line 97, ../sass/_home.scss */
    .welcome_home p {
      font-size: 1.2rem; } }

/* line 102, ../sass/_home.scss */
.banner_home_conteiner {
  z-index: 20;
  position: relative; }
  /* line 105, ../sass/_home.scss */
  .banner_home_conteiner .banner_home2 {
    position: relative;
    width: 100%;
    height: 516px;
    overflow: hidden;
    background: url(../img/loading.gif) no-repeat center center; }
    /* line 111, ../sass/_home.scss */
    .banner_home_conteiner .banner_home2 .contenedor {
      position: absolute;
      top: 0;
      left: 0; }
      /* line 115, ../sass/_home.scss */
      .banner_home_conteiner .banner_home2 .contenedor a {
        float: left; }
        /* line 117, ../sass/_home.scss */
        .banner_home_conteiner .banner_home2 .contenedor a img {
          height: auto; }
  /* line 123, ../sass/_home.scss */
  .banner_home_conteiner ul {
    position: absolute;
    bottom: -35px;
    right: 40px;
    height: 35px; }
    /* line 129, ../sass/_home.scss */
    .banner_home_conteiner ul li {
      text-indent: -999rem;
      float: left;
      margin: 14px 4px 0 4px;
      border: #A08742 solid 2px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      cursor: pointer; }
      /* line 138, ../sass/_home.scss */
      .banner_home_conteiner ul li.activo {
        background: #A08742; }

/* line 144, ../sass/_home.scss */
.bloque4 {
  position: relative;
  z-index: 1;
  background: #000;
  text-align: center;
  padding: 40px 0; }
  /* line 150, ../sass/_home.scss */
  .bloque4 h3 {
    color: #FFF;
    font-weight: 900;
    font-size: 1.6rem;
    margin: 0;
    letter-spacing: 5px; }
  /* line 157, ../sass/_home.scss */
  .bloque4 h2 {
    color: #A08742;
    font-family: "questa_granderegular";
    font-size: 3.85rem;
    margin: 24px 0 0px 0;
    font-weight: 400; }
  /* line 164, ../sass/_home.scss */
  .bloque4 p {
    color: #A08742;
    font-weight: 300;
    font-size: 1.85rem;
    margin: 2px 0 8px 0; }
  @media only screen and (max-width: 900px) {
    /* line 171, ../sass/_home.scss */
    .bloque4 h2 {
      font-size: 3.3rem; } }
  @media only screen and (max-width: 800px) {
    /* line 144, ../sass/_home.scss */
    .bloque4 {
      padding-top: 60px; }
      /* line 177, ../sass/_home.scss */
      .bloque4 h2 {
        font-size: 2.7rem; }
      /* line 180, ../sass/_home.scss */
      .bloque4 p {
        font-size: 1.7rem; } }

/* line 186, ../sass/_home.scss */
.receta_home {
  height: 512px; }
  /* line 188, ../sass/_home.scss */
  .receta_home .bloque {
    float: left;
    height: 100%;
    width: 50%; }
  /* line 193, ../sass/_home.scss */
  .receta_home .textos {
    background: #DF3818;
    text-align: center;
    position: relative; }
    /* line 197, ../sass/_home.scss */
    .receta_home .textos h2 {
      margin: 0;
      padding-top: 40px;
      font-size: 1rem;
      font-weight: 900;
      letter-spacing: 3px; }
    /* line 204, ../sass/_home.scss */
    .receta_home .textos h3 {
      color: #FFF;
      font-family: "questa_granderegular";
      font-size: 2.5rem;
      margin: 0;
      padding-bottom: 10px;
      font-weight: normal; }
    /* line 212, ../sass/_home.scss */
    .receta_home .textos .pasos {
      width: 34px;
      border-top: 1px solid #000;
      margin: 10px auto 0 auto;
      padding-top: 3px;
      font-size: 1.1rem;
      line-height: 1.6rem;
      font-weight: bold; }
    /* line 221, ../sass/_home.scss */
    .receta_home .textos p {
      margin: 0 auto;
      font-size: 1.1rem;
      font-weight: 300;
      width: 320px; }
    /* line 227, ../sass/_home.scss */
    .receta_home .textos .botones {
      position: absolute;
      width: 100%;
      bottom: 38px; }
      /* line 231, ../sass/_home.scss */
      .receta_home .textos .botones a {
        border: 1px solid #FFF;
        color: #FFF;
        width: 110px;
        height: 30px;
        text-align: center;
        display: inline-block;
        line-height: 30px;
        margin: 0 5px; }
        /* line 240, ../sass/_home.scss */
        .receta_home .textos .botones a.a1 {
          font-size: 0.875rem; }
        /* line 243, ../sass/_home.scss */
        .receta_home .textos .botones a.a2 {
          font-size: 0.5625rem; }
        /* line 246, ../sass/_home.scss */
        .receta_home .textos .botones a:hover {
          color: #000;
          border: 1px solid #000; }
  /* line 253, ../sass/_home.scss */
  .receta_home .imagen {
    background-size: cover;
    background-position: center center;
    background-color: #333; }

/* line 260, ../sass/_home.scss */
.bloque5 {
  text-align: center;
  padding: 32px 0; }
  /* line 263, ../sass/_home.scss */
  .bloque5 h2 {
    margin: 0;
    color: #006778;
    font-size: 3.85rem;
    font-weight: normal;
    font-family: "questa_granderegular"; }
  /* line 271, ../sass/_home.scss */
  .bloque5 p {
    color: #A08742;
    font-size: 1.85rem;
    line-height: 2.3125rem;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    width: 768px;
    max-width: 95%; }
  @media only screen and (max-width: 640px) {
    /* line 282, ../sass/_home.scss */
    .bloque5 h2 {
      font-size: 3rem; }
    /* line 285, ../sass/_home.scss */
    .bloque5 p {
      font-size: 1.2rem;
      line-height: 1.5rem;
      width: 90%; } }

/* line 293, ../sass/_home.scss */
.pallax {
  height: 480px;
  background: url(../img/pallax_home.jpg) no-repeat center 0/auto 200%; }

/* line 1, ../sass/_our_story.scss */
.our_story {
  background: #EEE6DB; }
  /* line 4, ../sass/_our_story.scss */
  .our_story h1, .our_story h2 {
    margin: 0;
    color: #006778;
    font-size: 3.8125rem;
    font-family: "questa_granderegular";
    font-weight: normal; }
  /* line 11, ../sass/_our_story.scss */
  .our_story h3 {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 1.6rem; }
  /* line 17, ../sass/_our_story.scss */
  .our_story .floatd {
    width: 70%; }
  /* line 20, ../sass/_our_story.scss */
  .our_story .floati {
    width: 26.31%; }
    /* line 22, ../sass/_our_story.scss */
    .our_story .floati img {
      width: 100%;
      height: auto;
      padding-top: 13px; }
  /* line 28, ../sass/_our_story.scss */
  .our_story article {
    clear: both;
    border-top: 1px solid #000;
    padding-top: 15px; }
    /* line 32, ../sass/_our_story.scss */
    .our_story article p {
      font-size: 1.5rem;
      margin: 0 0 20px 0;
      width: 100%;
      font-weight: 300;
      color: #808080;
      line-height: 2rem; }
  /* line 41, ../sass/_our_story.scss */
  .our_story .commitments {
    padding-top: 20px;
    clear: both; }
    /* line 44, ../sass/_our_story.scss */
    .our_story .commitments ul {
      padding-top: 10px;
      padding-left: 0px; }
    /* line 45, ../sass/_our_story.scss */
    .our_story .commitments li {
      color: #808080;
      font-size: 1.1rem; }
      /* line 48, ../sass/_our_story.scss */
      .our_story .commitments li span {
        font-size: 1.6rem;
        font-weight: 500;
        color: #808080; }

/* line 2, ../sass/_divisions.scss */
.divisions article {
  height: 512px; }
  /* line 4, ../sass/_divisions.scss */
  .divisions article .floatd, .divisions article .floati {
    width: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 512px;
    background-color: aqua; }
  /* line 12, ../sass/_divisions.scss */
  .divisions article .textos {
    padding: 7% 10%;
    height: 79%;
    position: relative; }
    /* line 15, ../sass/_divisions.scss */
    .divisions article .textos * {
      color: #fff; }
    /* line 17, ../sass/_divisions.scss */
    .divisions article .textos h2 {
      margin: 0;
      font-family: "questa_granderegular";
      font-size: 3.8125rem;
      font-weight: normal; }
    /* line 23, ../sass/_divisions.scss */
    .divisions article .textos p {
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: 300;
      color: #F0E8DD; }
    /* line 29, ../sass/_divisions.scss */
    .divisions article .textos a {
      position: absolute;
      bottom: 0;
      border: 1px solid #FFF;
      color: #FFF;
      width: 162px;
      height: 30px;
      text-align: center;
      display: inline-block;
      line-height: 30px;
      font-size: 0.9rem; }
      /* line 40, ../sass/_divisions.scss */
      .divisions article .textos a:hover {
        color: #000;
        border: 1px solid #000; }
    @media only screen and (max-width: 900px) {
      /* line 46, ../sass/_divisions.scss */
      .divisions article .textos h2 {
        font-size: 3rem; }
      /* line 49, ../sass/_divisions.scss */
      .divisions article .textos p {
        font-size: 1.3rem;
        line-height: 1.625rem; } }
    @media only screen and (max-width: 700px) {
      /* line 55, ../sass/_divisions.scss */
      .divisions article .textos h2 {
        font-size: 2.6rem; } }
  /* line 62, ../sass/_divisions.scss */
  .divisions article.d1 .floati {
    background-image: url(../img/d1.jpg); }
  /* line 65, ../sass/_divisions.scss */
  .divisions article.d1 .floatd {
    background-color: #006778; }
  /* line 70, ../sass/_divisions.scss */
  .divisions article.d2 .floati {
    background-color: #E13818; }
  /* line 73, ../sass/_divisions.scss */
  .divisions article.d2 .floatd {
    background-image: url(../img/d2.jpg); }
  /* line 78, ../sass/_divisions.scss */
  .divisions article.d3 .floati {
    background-image: url(../img/d3.jpg); }
  /* line 81, ../sass/_divisions.scss */
  .divisions article.d3 .floatd {
    background-color: #A08742; }
  /* line 86, ../sass/_divisions.scss */
  .divisions article.d4 .floati {
    background-color: #6F003F; }
  /* line 89, ../sass/_divisions.scss */
  .divisions article.d4 .floatd {
    background-image: url(../img/d4.jpg); }

/* line 1, ../sass/_reachus.scss */
.reachus {
  padding-bottom: 0;
  margin-bottom: 0;
  background: #EEE6DB; }
  /* line 6, ../sass/_reachus.scss */
  .reachus h1 {
    margin: 0;
    color: #A08742;
    font-family: "questa_granderegular";
    font-weight: normal;
    font-size: 3.973125rem;
    line-height: 4.7675rem;
    padding-bottom: 30px; }
  /* line 17, ../sass/_reachus.scss */
  .reachus .contenedor div.col:first-child {
    width: 60%;
    padding-right: 7px; }
    /* line 21, ../sass/_reachus.scss */
    .reachus .contenedor div.col:first-child div.row {
      background: #FFF;
      margin-bottom: 6px;
      font-weight: 300;
      line-height: 1.25rem;
      padding: 4px 6px;
      color: #808080; }
      /* line 24, ../sass/_reachus.scss */
      .reachus .contenedor div.col:first-child div.row:last-child {
        margin: 0; }
      /* line 29, ../sass/_reachus.scss */
      .reachus .contenedor div.col:first-child div.row input, .reachus .contenedor div.col:first-child div.row textarea {
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;
        border: none;
        outline: none;
        line-height: 1.25rem;
        background: none; }
      /* line 39, ../sass/_reachus.scss */
      .reachus .contenedor div.col:first-child div.row textarea {
        height: 100px;
        resize: none; }
  /* line 42, ../sass/_reachus.scss */
  .reachus .contenedor div.col:last-child {
    width: 40%; }
    /* line 44, ../sass/_reachus.scss */
    .reachus .contenedor div.col:last-child a.mapa {
      display: block;
      width: 100%;
      height: 100%;
      background: url(../img/mapa.jpg) no-repeat center center/auto 100%; }
    /* line 50, ../sass/_reachus.scss */
    .reachus .contenedor div.col:last-child p.direccion {
      font-weight: 300;
      margin: 0;
      line-height: 1.15rem;
      color: #A08742;
      padding: 28px 0 38px 0; }
    /* line 57, ../sass/_reachus.scss */
    .reachus .contenedor div.col:last-child .correo {
      width: 210px;
      max-width: 100%;
      padding: 5px 0; }
      /* line 61, ../sass/_reachus.scss */
      .reachus .contenedor div.col:last-child .correo img {
        width: 100%; }
    /* line 65, ../sass/_reachus.scss */
    .reachus .contenedor div.col:last-child ul {
      float: right; }
      /* line 68, ../sass/_reachus.scss */
      .reachus .contenedor div.col:last-child ul li {
        float: left;
        margin-left: 4px; }
        /* line 71, ../sass/_reachus.scss */
        .reachus .contenedor div.col:last-child ul li a {
          width: 28px;
          height: 28px;
          display: block;
          background-size: 100% 100%; }
          /* line 76, ../sass/_reachus.scss */
          .reachus .contenedor div.col:last-child ul li a.facebook {
            background-image: url(../img/facebook_off.svg); }
            /* line 78, ../sass/_reachus.scss */
            .reachus .contenedor div.col:last-child ul li a.facebook:hover {
              background-image: url(../img/facebook.svg); }
          /* line 82, ../sass/_reachus.scss */
          .reachus .contenedor div.col:last-child ul li a.instagram {
            background-image: url(../img/instagram_off.svg); }
            /* line 84, ../sass/_reachus.scss */
            .reachus .contenedor div.col:last-child ul li a.instagram:hover {
              background-image: url(../img/instagram.svg); }
          /* line 88, ../sass/_reachus.scss */
          .reachus .contenedor div.col:last-child ul li a.linkedin {
            background-image: url(../img/linkedin_off.svg); }
            /* line 90, ../sass/_reachus.scss */
            .reachus .contenedor div.col:last-child ul li a.linkedin:hover {
              background-image: url(../img/linkedin.svg); }
  /* line 99, ../sass/_reachus.scss */
  .reachus button {
    margin: 7px 0 0 0;
    width: 100px;
    padding: 0;
    text-align: center;
    background: #000;
    color: #fff;
    font-size: 0.9rem;
    line-height: 30px;
    border: none;
    cursor: pointer; }
    /* line 110, ../sass/_reachus.scss */
    .reachus button:hover {
      background: #A08742; }
  @media only screen and (max-width: 800px) {
    /* line 115, ../sass/_reachus.scss */
    .reachus h1 {
      font-weight: normal;
      font-size: 3rem;
      line-height: 3.638rem; } }

/* line 2, ../sass/_tips.scss */
.tips .banner {
  background: url(../img/tips.jpg) no-repeat center 0/auto 100%;
  height: 516px; }
  /* line 5, ../sass/_tips.scss */
  .tips .banner h1 {
    margin: 0;
    padding: 20px 0 0 9.1796875%;
    color: #006778;
    font-family: "questa_granderegular";
    font-weight: normal;
    font-size: 4.109375rem;
    line-height: 4.305rem; }
/* line 14, ../sass/_tips.scss */
.tips .contenedor {
  background: #EEE6DB url(../img/fondo_tips.gif) repeat-y center 0;
  border-bottom: 6px solid #fff; }
  /* line 17, ../sass/_tips.scss */
  .tips .contenedor div.floati, .tips .contenedor div.floatd {
    width: 50%; }
  /* line 21, ../sass/_tips.scss */
  .tips .contenedor div.floati {
    border-right: 3px solid #fff; }
  /* line 24, ../sass/_tips.scss */
  .tips .contenedor div.floatd {
    border-left: 3px solid #fff; }
  /* line 27, ../sass/_tips.scss */
  .tips .contenedor article {
    padding: 32px 7.073%;
    border-top: 6px solid #fff; }
    /* line 30, ../sass/_tips.scss */
    .tips .contenedor article .step {
      float: left;
      width: 23.5%;
      font-family: "questa_granderegular";
      font-size: 5.465rem;
      line-height: 2rem;
      color: #A08742; }
      @media only screen and (max-width: 960px) {
        /* line 30, ../sass/_tips.scss */
        .tips .contenedor article .step {
          font-size: 4.5rem; } }
    /* line 41, ../sass/_tips.scss */
    .tips .contenedor article p {
      float: left;
      width: 76.5%;
      margin: 0;
      font-size: 1.4375rem;
      line-height: 1.570625rem;
      font-weight: 300;
      color: #808080; }
      /* line 49, ../sass/_tips.scss */
      .tips .contenedor article p span {
        display: block;
        padding-top: 5px;
        font-size: 0.8125rem;
        color: #808080;
        font-style: italic; }
@media only screen and (max-width: 900px) {
  /* line 60, ../sass/_tips.scss */
  .tips .banner h1 {
    font-size: 3.08203125rem;
    line-height: 3.22875rem; }
  /* line 64, ../sass/_tips.scss */
  .tips .contenedor {
    background-image: none; }
    /* line 66, ../sass/_tips.scss */
    .tips .contenedor div.floati, .tips .contenedor div.floatd {
      width: 100%;
      border: none; } }

/* line 2, ../sass/_recipes.scss */
.r_cat .bloque {
  float: left;
  width: 50%;
  height: 516px; }
  /* line 6, ../sass/_recipes.scss */
  .r_cat .bloque a {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center; }
    /* line 11, ../sass/_recipes.scss */
    .r_cat .bloque a h2 {
      margin: 0;
      color: #FFF;
      font-family: "questa_granderegular";
      font-weight: normal;
      font-size: 4.3rem;
      line-height: 4.8rem;
      vertical-align: middle;
      display: table-cell;
      padding: 10%; }
    /* line 22, ../sass/_recipes.scss */
    .r_cat .bloque a:hover {
      background: none !important; }
      /* line 24, ../sass/_recipes.scss */
      .r_cat .bloque a:hover h2 {
        display: none; }
  /* line 29, ../sass/_recipes.scss */
  .r_cat .bloque.tabla {
    display: table;
    background: #EEE6DB; }
    /* line 32, ../sass/_recipes.scss */
    .r_cat .bloque.tabla div {
      vertical-align: middle;
      display: table-cell;
      text-align: center; }
      /* line 36, ../sass/_recipes.scss */
      .r_cat .bloque.tabla div p {
        font-family: "questa_granderegular";
        margin: 0;
        color: #A08742;
        font-size: 1.77rem;
        line-height: 1.9375rem;
        padding-bottom: 10px; }
        /* line 43, ../sass/_recipes.scss */
        .r_cat .bloque.tabla div p:after {
          content: "";
          display: block;
          margin: 10px auto 0 auto;
          width: 34px;
          height: 1px;
          background: #A08742; }
        /* line 51, ../sass/_recipes.scss */
        .r_cat .bloque.tabla div p:nth-child(3):after {
          background: #EEE6DB; }
      /* line 55, ../sass/_recipes.scss */
      .r_cat .bloque.tabla div span {
        color: #808080;
        font-size: 1.125rem;
        font-weight: 300; }
@media only screen and (max-width: 800px) {
  /* line 64, ../sass/_recipes.scss */
  .r_cat .bloque {
    height: 400px; }
    /* line 66, ../sass/_recipes.scss */
    .r_cat .bloque a h2 {
      font-size: 3rem;
      line-height: 3.35rem; }
    /* line 72, ../sass/_recipes.scss */
    .r_cat .bloque.tabla div p {
      font-size: 1.4rem;
      line-height: 1.532rem; }
    /* line 76, ../sass/_recipes.scss */
    .r_cat .bloque.tabla div span {
      font-size: 0.89rem;
      font-weight: 300; } }

/* line 86, ../sass/_recipes.scss */
.recipes_header {
  background: #000 url(../img/o.svg) no-repeat;
  background-size: 188px auto;
  background-position: right 72px bottom -100px; }
  /* line 91, ../sass/_recipes.scss */
  .recipes_header div.contenedor {
    position: relative; }
  /* line 94, ../sass/_recipes.scss */
  .recipes_header h1 {
    margin: 0;
    font-size: 1.2rem;
    color: #FFF;
    line-height: 23px;
    padding-bottom: 15px; }
    /* line 100, ../sass/_recipes.scss */
    .recipes_header h1:after {
      content: "";
      display: block;
      background: #FFF;
      height: 1px;
      width: 36px;
      margin-top: 15px; }
  /* line 109, ../sass/_recipes.scss */
  .recipes_header div.lista_r {
    overflow: hidden;
    height: 180px;
    margin-bottom: 15px; }
    /* line 113, ../sass/_recipes.scss */
    .recipes_header div.lista_r a {
      color: #A08742;
      font-family: "questa_granderegular";
      font-size: 1.85rem;
      line-height: 36px; }
      /* line 118, ../sass/_recipes.scss */
      .recipes_header div.lista_r a:hover {
        font-weight: bold; }
  /* line 123, ../sass/_recipes.scss */
  .recipes_header .see_more_contenedor {
    height: 20px; }
  /* line 124, ../sass/_recipes.scss */
  .recipes_header a.see_more {
    color: #A08742;
    font-weight: bold;
    font-size: 0.7rem; }
    /* line 128, ../sass/_recipes.scss */
    .recipes_header a.see_more:hover {
      color: #FFF; }

/* line 134, ../sass/_recipes.scss */
.recipes_body article {
  clear: both; }
  /* line 136, ../sass/_recipes.scss */
  .recipes_body article .foto {
    width: 50%;
    height: 516px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  /* line 143, ../sass/_recipes.scss */
  .recipes_body article .contenido {
    width: 50%;
    height: 516px; }
    /* line 148, ../sass/_recipes.scss */
    .recipes_body article .contenido h1 {
      margin: 0; }
  /* line 153, ../sass/_recipes.scss */
  .recipes_body article:nth-child(odd) .foto {
    float: right; }
  /* line 156, ../sass/_recipes.scss */
  .recipes_body article:nth-child(odd) .contenido {
    float: left; }
  /* line 161, ../sass/_recipes.scss */
  .recipes_body article:nth-child(even) .foto {
    float: left; }
  /* line 164, ../sass/_recipes.scss */
  .recipes_body article:nth-child(even) .contenido {
    float: right; }

/* line 170, ../sass/_recipes.scss */
a.x {
  position: absolute;
  text-indent: -999rem;
  top: 0;
  right: 0;
  display: block;
  width: 50px;
  height: 50px;
  background: url(../img/x.svg) no-repeat center center/100% 100%;
  display: none; }
  /* line 180, ../sass/_recipes.scss */
  a.x:hover {
    background-size: 200% 200%; }

/* line 88, ../sass/main.scss */
a {
  -moz-transition: color 500ms, background-color 500ms, font-weight 500ms;
  -o-transition: color 500ms, background-color 500ms, font-weight 500ms;
  -webkit-transition: color 500ms, background-color 500ms, font-weight 500ms;
  transition: color 500ms, background-color 500ms, font-weight 500ms; }

/* line 91, ../sass/main.scss */
.has-error {
  color: #6F003F !important;
  font-weight: bold !important; }
